* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F1FB;
    color: #3c3e3f;
}

.btn-primary {
    background-color: #FFD333;
    border: none;
}

.content-right-1 {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
    line-height: 1.8rem;
}

.content-left-1 {
    font-size: 1.25rem;
    text-align: right;
    padding: 10px 20px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #FFD333;
}

.row {
    align-items: center;
}

.btn-title {
    padding: 10px;
    width: 200px;
}
/* Responsive adjustments */
@media (min-width: 768px) {
    .content-left-1 {
        padding: 10px 40px;
        font-size: 1.5rem;
    }

    .title {
        font-size: 2rem;
    }

    .btn-title {
        width: auto;
        padding: 5px;
    }

    .brand-logo {
        max-width: 60px;
    }
}

@media (min-width: 992px) {
    .content-left-1 {
        padding: 10px 45px;
        font-size: 1.55rem;
    }

    .title {
        font-size: 3rem;
    }
}

.brand-logo {
    max-width: 90px;
    height: auto;
}

@media (max-width: 576px) {
    .content-right-1 {
        font-size: 0.9rem;
        text-align: justify;
    }

    .brand-logo {
        max-width: 80px;
    }
}
