.search-result {
    position: absolute;
    left: 20px;
    top: 20px;
    background: #fff;
    z-index: 999;
    width: calc(100% - 40px);
    padding: 15px
}

.link-product {
    padding: 10px;
    overflow: hidden
}

@media only screen and (min-width:600px) {
    .search-result {
        left: 120px;
        top: 46px;
        width: calc(100% - 240px)
    }
}

@media only screen and (min-width:768px) {
    .search-result {
        left: 195px;
        top: 50px;
        width: calc(63% + 4px)
    }
}

@media only screen and (min-width:992px) {
    .search-result {
        left: 120px;
        top: 60px;
        width: calc(86% + 4px)
    }
}

@media only screen and (min-width:1200px) {
    .search-result {
        left: 108px;
        top: 70px;
        width: 100%
    }
}
